@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: rgb(41, 235, 235);
  text-decoration: none;
  font-size: 25px;
  height: 40px;
  width: 40px;
}
body {
  background: rgb(12, 44, 73);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
}
.img {
  height: 200px;
  width: 200px;
  padding: 0;
  border-radius: 50%;
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.185),
    2px 10px 5px rgba(0, 0, 0, 0.137);
  background: url("./Coding\ _Outline.png");
  background-position: right;
  background-size: cover;
}
.box {
  width: 100%;
  max-width: 500px;
  height: 630px;
  border-radius: 50px;
  background-color: rgb(50, 81, 110);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px 50px;
}
.info {
  margin: 0px 10px 30px;
  padding: 10px;
  text-align: center;
}
.info h1 {
  padding-bottom: 40px;
  font-weight: 600;
  color: #3ee;
}
p {
  line-height: 1.7;
}

.social-links {
  text-align: center;
  font-weight: 600;
}

footer {
  color: #ccc;
}
